/*-------------------------
-------fonts-google--------
---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courgette&family=Dancing+Script:wght@700&family=Indie+Flower&family=Mochiy+Pop+P+One&family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(204, 202, 202);
}
.container{
    width: 900px;
    margin: 0 auto;
    background-color: #fff;
}
.top{
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color:darkgrey;
}
.Influencer{
    margin: 20px;
}
.Influencer h3{
    color: rgb(24, 22, 22);
}
.Products{
    color:crimson;
}
.home{
    display: flex;
    
}
.home p{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}
.home .fas{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
/*-----------------------
------top-banner---------
-----------------------*/
.top-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.top-banner{
    margin-left: 30px;
    padding: 20px;
}
.banner-left h1{
    margin-bottom: 10px;
}
button{
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-image: linear-gradient(crimson, rgb(199, 61, 88));
}