/*-------------------------
-------fonts-google--------
---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courgette&family=Dancing+Script:wght@700&family=Indie+Flower&family=Mochiy+Pop+P+One&family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(204, 202, 202);
}
.container{
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}
.top{
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color:darkgrey;
}
.Influencer{
    color: crimson;
}
.Influencer h3{
    color: rgb(24, 22, 22);
}
.Products{
    color:crimson;
}
.home{
    display: flex;
    
}
.home p{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}
.home .fas{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
/*-----------------------
------top-banner---------
-----------------------*/
.top-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.top-banner{
    margin-left: 30px;
    padding: 20px;
} 
.banner-left h2{
    margin-bottom: 20px;
    font-size: 40px;
}
button{
    padding: 10px 20px;
    margin: 20px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(crimson, rgb(199, 61, 88));
    box-shadow: 0 7px 0 crimson;
    position: relative;
    top: 0px;
}
button:active{
    top: 5px;
    box-shadow: 0px 2px 1px#800c10;
}
/* logos */
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    margin: 20px;

}
/* Popular Collection */
.banner-0{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.Popular{
    margin: 40px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black ;
}
.container h1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.banner-1 img{
    height: 200px;
    width: 275px;
}
.banner-2{
    padding: 10px;
}
.banner-2 .fas{
    color: darkorange;
}
.bottom{
    text-align: center;
    padding: 30px;
    background-color: darkslategrey;
    color: #fff;
}
